.admin-layout {
   // Đảm bảo layout có cấu trúc flexbox đúng để footer không bị đẩy xuống
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: #111827;

   .admin-body {
      flex: 1; // Main content sẽ mở rộng để lấp đầy khoảng trống
      background-color: #111827;
   }

   .breadcrumb {
      top: 0px !important;
      background-color: #111827;
   }
}