@use "variables";

body,
html {
  background-image: "#fff";
  background-repeat: no-repeat;
  background-size: cover;
  font-family: variables.$fontmain;
  font-size: variables.$base-size - 2px;
  height: 100vh;
}

.btn {
  padding: 0;
  border: none;
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  i {
    font-size: variables.$base-size - 3px;
  }
}

.btn-edit,
.btn-add,
.btn-delete,
.btn-assign {
  background-color: variables.$colormain;
  color: variables.$common-text-color;

  &:hover {
    color: variables.$common-text-color;
    background-color: darken(variables.$colormain, 5); // ⚠️ nên đổi sau này
  }
}

#password:invalid,
#password:-webkit-input-placeholder,
#password::-webkit-input-placeholder,
#password:-moz-placeholder,
#password::-moz-placeholder,
#password:-ms-input-placeholder,
#password::-ms-input-placeholder,
#password::placeholder {
  font-family: variables.$fontmain;
}

.content-container {
  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: variables.$base-size + 4px;
    margin-top: 15px;
    color: variables.$colormain;
  }

  .content {
    margin: 15px 30px;
    box-shadow: 2px 2px 4px 0 variables.$box-shadow-color;
    -webkit-box-shadow: 2px 2px 4px 0 variables.$box-shadow-color;
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        padding: 0 10px;
        height: 35px;
        background-color: variables.$colormain;
        color: variables.$common-text-color;

        .modal-title {
          line-height: 35px;
          font-weight: 500;
          font-size: variables.$base-size + 1px;
        }

        .btn-close {
          position: absolute;
          color: variables.$common-text-color;

          i {
            line-height: 35px;
            font-size: variables.$base-size + 2px;
          }
        }
      }
    }
  }
}