.swal2-popup.swal-password-verification {
    width: min(40rem, 70vw);
    padding: 24px;
    border-radius: 16px;
    background-color: #0B1220;
    border: 2px solid #1E2A44;
}

.swal2-popup.swal-password-verification .swal2-warning {
    border-color: #FB2C36;
    color: #FB2C36;
}

.swal2-popup.swal-password-verification .swal2-icon-show {
    animation: swal2-animate-error-icon 1.2s;
}

.swal2-popup.swal-password-verification .swal2-title {
    color: #ffffff;
    font-size: 2.4rem;
    padding: 0;
}

.swal2-popup.swal-password-verification .swal2-html-container {
    padding: 0;
}

.swal2-popup.swal-password-verification .password-verification-content {
    margin-bottom: 12px;
    font-size: 1.45rem;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.swal2-popup.swal-password-verification .password-verification__security-check {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-style: italic;
    font-size: 1rem;
    color: #56585a;
    font-weight: 400;
}

.swal2-popup.swal-password-verification .password-verification__instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-style: italic;
    font-size: 1rem;
    color: #90A1B9;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.swal2-popup.swal-password-verification .password-verification__error {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-style: italic;
    font-size: 1rem;
    color: #FB2C36;
    font-weight: 400;
    margin-bottom: 1rem;
}

.swal2-popup.swal-password-verification .password-verification__remaining {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1rem;
    color: #FBBF24;
    font-weight: 500;
    margin-top: 1rem;
}

.swal2-popup.swal-password-verification .password-verification__last {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1rem;
    color: #FB2C36;
    font-weight: 600;
    margin-top: 1rem;
}

.swal2-popup.swal-password-verification .swal2-input {
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    background: rgba(33, 54, 85, 0.9);
    border: 1.5px solid rgba(147, 197, 253, 0.4);
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 1rem;
    transition: all 0.25s ease;

    &::placeholder {
        color: rgba(255, 255, 255, 0.4);
    }

    &:hover {
        background: rgba(33, 54, 85, 1);
        border-color: rgba(147, 197, 253, 0.8);
    }

    &:focus {
        outline: none;
        border-color: #3b82f6;
        background: rgba(37, 56, 90, 1);
    }
}